/*
  ✰✰✰✰✰✰✰✰✰✰✰✰✰✰ 

  Simple Login Form
  HTML5/CSS3 Coded by: $hekh@r d-Ziner, CSSJunction.com
  PSD by:PremiumPixels.com
  
  Uuage: Free. You can modify, remove our links and use wherever you want ☺.
  
  ✰✰✰✰✰✰✰✰✰✰✰✰✰✰✰ 
  #eff3f6
  #333333
*/
body{
  background:#eff3f6;
}
.box
{
    background:#fefefe;
    border: 2px solid #C3D4DB;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:rgba(0,0,0,0.55) 0 0 20px;
    -webkit-box-shadow:rgba(0,0,0,0.55) 0 0 20px;
    box-shadow:rgba(0,0,0,0.55) 0 0 20px;
    color:#444;
    font:normal 12px/14px Arial, Helvetica, Sans-serif;
    margin:0 auto 30px;
	overflow:hidden;
}
.box.login
{
	height:auto;
    width:332px;
	position:absolute;
	left:50%;
	top:30%;
	margin:-130px 0 0 -166px;
    border-radius: 30px;
}
.boxBody
{
     
    background: -moz-linear-gradient(center bottom,  #4A4E4C, #BCC5C3);
    background: -moz-linear-gradient(center bottom,  #4A4E4C, #BCC5C3);/* F 3.6+ */
    background: -ms-linear-gradient(center bottom, #4A4E4C, #BCC5C3);/* IE 10+ */
    background: -webkit-linear-gradient(center bottom, #4A4E4C, #BCC5C3);/* FF 3.6+ */
    background: -o-linear-gradient(center bottom, #4A4E4C, #BCC5C3);/* Safari 5.1+, Chrome 10+ */
    background: linear-gradient(center bottom, #4A4E4C, #BCC5C3);/* ESTILO ESTANDAR */
    color: #FFFFFF!important;
    border-left:0px solid #dde0e8;
    border-top:1px solid #dde0e8;
    border-bottom:1px solid #dde0e8;
    padding:10px 20px;
}

.box footer
{
    background:#eff4f6;
    border-top:1px solid #fff;
    padding:22px 26px;
    overflow:hidden;
	height:32px;
}
.box label
{
    display:block;
    font:14px/22px Arial, Helvetica, Sans-serif;
    margin:10px 0 0 6px;
}
.box footer label{
	float:left;
	margin:4px 0 0;
}
.box footer input[type=checkbox]{
	vertical-align:sub;
	*vertical-align:middle;
	margin-right:10px;
}
.box input[type=text],
.box input[type=password],
.txtField,
.cjComboBox
{
    border:4px solid #F7F9FA;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 4px #757A79 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 4px #757A79 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 4px #757A79 inset;
    margin:3px 0 4px;
    padding:8px 6px;
    width:270px;
    display:block;
}
.box input[type=text]:focus,
.box input[type=password]:focus,
.txtField:focus,
.cjComboBox:focus
{
    border:4px solid #f0f7fc;
    -moz-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
	color:#333;
}
.cjComboBox
{
    width:294px;
}
.cjComboBox.small
{
    padding:3px 2px 3px 6px;
    width:100px;
    border-width:3px !important;
}
.txtField.small
{
    padding:3px 6px;
    width:200px;
    border-width:3px !important;
}

.rLink{padding:0 6px 0 0; font-size:11px; float:right;}
.box a{color:#999;}
.box a:hover, .box a:focus{text-decoration:underline;}
.box a:active{color:#f84747;}
.btnLogin
{
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:15px;
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #D7642A, #F68F4B);
    background:-webkit-gradient(linear, left top, left bottom, from(#D7642A), to(#F68F4B));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D7642A', EndColorStr='#F68F4B')";
    border:1px solid #F68F4B !important;
    cursor: pointer;
    padding:11px 16px;
    font:bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow:rgba(0,0,0,0.2) 0 1px 0px; 
    color:#fff;
    -moz-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow:inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left:12px;
    float:right;
	padding:7px 21px;
}

.btnLogin:hover,
.btnLogin:focus,
.btnLogin:active{
    background:#a1d8f0;
    background:-moz-linear-gradient(top, #F68F4B, #D7642A);
    background:-webkit-gradient(linear, left top, left bottom, from(#F68F4B), to(#D7642A));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F68F4B', EndColorStr='#D7642A')";
}
.btnLogin:active
{
    text-shadow:rgba(0,0,0,0.3) 0 -1px 0px; 
}
footer#main{
	position:fixed;
	left:0;
	bottom:10px;
	text-align:center;
	font:normal 11px/16px Arial, Helvetica, sans-serif;
	width:100%;
}


/*  --------------------------------------------------
    Buttons
    -------------------------------------------------- */

    .button {
        background: #00a6fc;
        // display: inline-block;
        text-align: center;
        padding: 9px 34px 11px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px; font-size: 1.3rem;
        line-height: 1;
        font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
        position: relative;
        cursor: pointer;
        border: none;
        outline: none;
        margin: 0;
    }
    
    /* Don't use native buttons on iOS */
    input[type=submit].button, button.button { -webkit-appearance: none; }
    
    /* Hide inner focus effect in Firefox */
    button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
        border: none;
    }
    
    .button.nice { 
        background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -31px;
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
        text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
        background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -31px, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
        background: #00a6fc url(../images/misc/button-gloss.png) repeat-x 0 -31px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
        border: 1px solid #0593dc;
        -webkit-transition: background-color .15s ease-in-out;
        -moz-transition: background-color .15s ease-in-out;
        -o-transition: background-color .15s ease-in-out;
    }

    .button.radius {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    .button.round {
        -moz-border-radius: 1000px;
        -webkit-border-radius: 1000px;
        border-radius: 1000px;
    }

    .button.full-width {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center;
    }

    .button.left-align {
        text-align: left;
        text-indent: 12px;
    }
    
    /* Sizes ---------- */
    .tiny.button            { font-size: 10px; padding: 6px 14px 8px; width: auto; }
    .small.button           { font-size: 11px; padding: 8px 20px 10px; width: auto; }
    .medium.button          { font-size: 13px; width: auto; }
    .large.button           { font-size: 18px; padding: 11px 48px 13px; width: auto; }

    /* Nice Sizes ---------- */
    .nice.tiny.button       { background-position: 0 -37px; }
    .nice.small.button      { background-position: 0 -34px; }
    .nice.large.button      { background-position: 0 -30px; }

    /* Colors ---------- */
    .blue.button            { background-color: #00a6fc; }
    .red.button             { background-color: #e91c21; }
    .white.button           { background-color: #e9e9e9; color: #333; }
    .black.button           { background-color: #141414; }
    .green.button           { background-color: #5b8737; }
    .gray.button           { background-color: #7F8583; }
    
    /* Nice Colors ---------- */
    .nice.blue.button       { border: 1px solid #0593dc; }
    .nice.red.button        { border: 1px solid #b90b0b; }
    .nice.white.button      { border: 1px solid #cacaca; text-shadow: none !important; }
    .nice.black.button      { border: 1px solid #000; }
    .nice.green.button      { border: 1px solid #4a6b2d; }
    .nice.gray.button      { border: 1px solid #9A9E9D; }
    
    /* Hovers ---------- */
    .button:hover, .button:focus                { background-color: #0192dd; color: #fff; }
    .blue.button:hover, .blue.button:focus      { background-color: #0192dd; }
    .red.button:hover, .red.button:focus        { background-color: #d01217; }
    .white.button:hover, .white.button:focus    { background-color: #dadada; color: #333; }
    .black.button:hover, .black.button:focus    { background-color: #000; }
    .green.button:hover, .green.button:focus    { background-color: #699c40; }  
    .gray.button:hover, .gray.button:focus    { background-color: #757A79; } 

    /* Hovers ---------- */
    .nice.button:active     { 
        -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
        -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
        box-shadow: inset 0 1px 0 rgba(0,0,0,.15);
    }
    
    /* Disabled ---------- */
    .button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }
    
    /* Correct FF button padding */
    @-moz-document url-prefix(http://) {
        input[type=submit].button::-moz-focus-inner, button.button::-moz-focus-inner { border: 0; padding: 0; }
        input[type=submit].tiny.button      { padding: 5px 14px 7px; }
        input[type=submit].small.button     { padding: 7px 20px 8px; }
        input[type=submit].medium.button    { padding: 8px 34px 9px; }
        input[type=submit].large.button     { padding: 9px 48px 10px; }
    }
